{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>Medishaloi – Your Medical Assistance</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'static/img/fevicon.png' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" href="static/img/fevicon.png">
	<link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="72x72" href="static/img/fevicon.png">
	<link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="114x114" href="static/img/fevicon.png">
	<link rel="apple-touch-icon" type="{% static 'image/x-icon' %}" sizes="144x144" href="static/img/fevicon.png">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">
    
	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	
	<!-- Modernizr -->
	<script src="{% static 'js/modernizr.js' %}"></script>
</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->

	<!-- header -->
    <header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
						<h1><a href="/" title="Medishaloi">Medishaloi – Your Medical Assistance</a></h1>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<ul id="top_access">
						<li><a href="login"><i class="pe-7s-user"></i></a></li>
						<li><a href="register"><i class="pe-7s-add-user"></i></a></li>
					</ul>
					<div class="main-menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="http://bot.bestmassager.info/">Symptoms Bot</a></li>
							<li><a href="http://blood.bestmassager.info/">Blood</a></li>
							<li><a href="doctor_search">Doctor</a></li>
							<li><a href="madichine_search">Medicine</a></li>							
							<li><a href="ambulance_search">Ambulance</a></li>	
						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->	
	
	<main>
		<div class="hero_home version_3">
				<div class="content">
					<h5></h5>
					<p><b>What concerns you about your health today?</b>
						<br/><br/>
					Check your symptoms and find out what could be causing them. It's fast, free and anonymous.</p>
					<a href="/bot/index.html" class="btn_1 medium">Start Checkup</a>				
			</div>
		</div>
		
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Feature</h2>
				<p>Nec graeci sadipscing disputationi ne, mea ea nonumes percipitur. Nonumy ponderum oporteat cu mel, pro movet cetero at.</p>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_2.svg" width="60" height="60" alt="">
						<h3>Diagnosis Bot</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_1.svg" width="60" height="60" alt="">
						<h3>Specialist Doctor</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_3.svg" width="60" height="60" alt="">
						<h3>xxx</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_4.svg" width="60" height="60" alt="">
						<h3>Blood Doner</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_7.svg" width="60" height="60" alt="">
						<h3>Digonatis Center</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_5.svg" width="60" height="60" alt="">
						<h3>xxx</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_6.svg" width="60" height="60" alt="">
						<h3>xxx</h3>
					</a>
				</div>
				<div class="col-lg-3 col-md-6">
					<a href="#0" class="box_cat_home">
						<i class="icon-info-4"></i>
						<img src="static/img/icon_cat_8.svg" width="60" height="60" alt="">
						<h3>xxx</h3>
					</a>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->	
				
		<!-- /Header video -->
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Symptomate gives you an accurate evaluation of your health</h2>
				<p>Symptomate AI uses our doctors' knowledge, scientific literature, and statistical data that we obtain by analyzing thousands of actual patient cases</p>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						<h3>Enter symptoms</h3>
						<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<span></span>
						<h3>Answer a few questions</h3>
						<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>Done! You will receive information about:</h3>
						<div align="left"><ul><li> - possible causes of your symptoms</li>
							<li> - options for what to do next</li>
							<li> - 	suggested lab tests</li></ul></div>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->

		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Intelligent technology that you can trust</h2>
				<p>Symptomate AI uses our doctors' knowledge, scientific literature, and statistical data that we obtain by analyzing thousands of actual patient cases.</p>
				<img src="static/img/.png">
			</div>
		</div>
		<!-- /container -->


		<div id="app_section">
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-md-5">
						<p><img src="static/img/app_img.svg" alt="" class="img-fluid" width="500" height="433"></p>
					</div>
					<div class="col-md-6">
						<h3>Download <strong>Medishaloi App</strong> Now!</h3>
						<p class="lead">Tota omittantur necessitatibus mei ei. Quo paulo perfecto eu, errem percipit ponderum no eos. Has eu mazim sensibus. Ad nonumes dissentiunt qui, ei menandri electram eos. Nam iisque consequuntur cu.</p>
						<div class="app_buttons wow" data-wow-offset="100">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
							<path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
							<path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
						</svg>
							<a href="#0" class="fadeIn"><img src="static/img/apple_app.png" alt="" width="150" height="50" data-retina="true"></a>
							<a href="#0" class="fadeIn"><img src="static/img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /app_section -->
	</main>
	<!-- /main content -->

	<!-- Footer -->
	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a href="index.html" title="Medishaloi">
							<img src="static/img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>About</h5>
					<ul class="links">
						<li><a href="about.html">About us</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="faq.html">FAQ</a></li>
						</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Doctors</a></li>
						<li><a href="#0">Clinics</a></li>
						<li><a href="#0">Download App</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="icon_mobile"></i> +88 016 8977 7038</a></li>
						<li><a href="mailto:info@medishaloi.com"><i class="icon_mail_alt"></i> help@medishaloi.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Follow us</h5>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2019 Medishaloi</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/common_scripts.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="{% static 'js/video_header.js' %}"></script>
	<script>
		'use strict';
		HeaderVideo.init({
			container: $('.header-video'),
			header: $('.header-video--media'),
			videoTrigger: $("#video-trigger"),
			autoPlayVideo: true
		});
	</script>

</body>
</html>